<div class="navbar">
  <div class="buttons">
    <div class="example-button-container">
      <button  mat-icon-button color="primary" [matMenuTriggerFor]="menu"   #menuTrigger aria-label="Example icon button with a home icon" >
        <i class="fa fa-user" aria-hidden="true" ></i>
      </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openDialogUser()">Çıkış Yap</button>
        </mat-menu>
    </div>
    <button mat-button (click)="goToFollows()">Portföy</button>
    <button mat-button (click)="goToFollows()">Takip Edilenler</button>
    <button mat-button (click)="goToMarktes()">Piyasalar</button>
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="openDialog()">
      <i style='font-size:24px' class='fas'>&#xf0f3;</i>
    </button>
  </div>

  <div class="form">
    <i class="fa fa-search"></i>
    <input type="text" class="form-control form-input" placeholder="Search anything...">
    <span class="left-pan"><i class="fa fa-microphone"></i></span>
  </div>
  <div class="image" (click)="goToDashboard()">
    <img src="../assets/finAI.png" style="width: 120px; height: 60px;">
  </div>
</div>