<div class="top-tools">
  <div class="buttons">
    <div class="example-button-container">
      <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
        <i class="fa fa-user" aria-hidden="true"></i>
      </button>
    </div>

    <button mat-button (click)="goToMarktes()">Piyasalar</button>
    <button mat-button (click)="goToFollows()">Takip Edilenler</button>
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
      <i style='font-size:24px' class='fas'>&#xf0f3;</i>
    </button>
  </div>

  <div class="form">
    <i class="fa fa-search"></i>
    <input type="text" class="form-control form-input" placeholder="Search anything...">
    <span class="left-pan"><i class="fa fa-microphone"></i></span>
  </div>
</div>