#chart {
  width:37vw;
  padding-top: 1.5vw;
}

.area {
  width: 37.6vw;
  margin-top: 1%;
  margin-right: 1%;
  border: 2px solid #d8d8bb;
  box-shadow: 5px 5px 10px #888888;
  background-color: rgb(217, 217, 201);
  border-radius: 10px;
  margin-left: 1.5%;
}