.box {
  height: 100%;
  padding: 2%;
  background-color: #d8d8bb;
  
}
.mat-elevation-z8 table {
  border: 2px solid #d8d8bb;
  box-shadow: 5px 5px 10px #888888;
  background-color: rgb(217, 217, 201);
  border-radius: 10px;
}
.table-footer{
  background-color: rgb(217, 217, 201);

}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

.btn{
  width: 30%;
}