<div>
  <!-- <app-sidebar></app-sidebar> -->
  <div class="box">

    <app-navbar></app-navbar>

    <div class="anlık-durumlar">
      <div class="parcalar" (click)="openDialogStock()">
        <div class="enstrüman-ismi">XU100</div>
        <div class="enstrüman">
          <span>9344,65</span>
          <span class="degisim"> %1.65</span>
        </div>

      </div>

      <div class="parcalar">
        <div class="enstrüman-ismi">XU100</div>
        <div class="enstrüman">
          <span>9344,65</span>
          <span class="degisim"> %1.65</span>
        </div>

      </div>

      <div class="parcalar">
        <div class="enstrüman-ismi">XU100</div>
        <div class="enstrüman">
          <span>9344,65</span>
          <span class="degisim"> %1.65</span>
        </div>
      </div>
      <div class="parcalar">
        <div class="enstrüman-ismi">XU100</div>
        <div class="enstrüman">
          <span>9344,65</span>
          <span class="degisim"> %1.65</span>
        </div>
      </div>
      <div class="parcalar">
        <div class="enstrüman-ismi">XU100</div>
        <div class="enstrüman">
          <span>9344,65</span>
          <span class="degisim"> %1.65</span>
        </div>
      </div>
      <div class="parcalar">
        <div class="enstrüman-ismi">XU100</div>
        <div class="enstrüman">
          <span>9344,65</span>
          <span class="degisim"> %1.65</span>
        </div>
      </div>
      <div class="parcalar">
        <div class="enstrüman-ismi">XU100</div>
        <div class="enstrüman">
          <span>9344,65</span>
          <span class="degisim"> %1.65</span>
        </div>
      </div>
      <div class="parcalar">
        <div class="enstrüman-ismi">XU100</div>
        <div class="enstrüman">
          <span>9344,65</span>
          <span class="degisim"> %1.65</span>
        </div>
      </div>
      <div class="parcalar">
        <div class="enstrüman-ismi">XU100</div>
        <div class="enstrüman">
          <span>9344,65</span>
          <span class="degisim"> %1.65</span>
        </div>
      </div>

    </div>

    <div class="charts">
      <div class="ChartDateTime">
        <h2>XU100</h2>

        <app-date-time-area-chart></app-date-time-area-chart>

      </div>

      <div class="earning-chart">
        <div>
          <app-area-chart></app-area-chart>

          <app-column-chart></app-column-chart>

        </div>
      </div>
      <div>

        <app-followed></app-followed>

      </div>
    </div>
  </div>