<div class="box">
  <div class="top-tools">
    <div class="buttons">

      <button mat-button>Piyasalar</button>
      <button mat-button>Favoriler</button>
    </div>

    <div class="form">
      <i class="fa fa-search"></i>
      <input type="text" class="form-control form-input" placeholder="Search anything...">
      <span class="left-pan"><i class="fa fa-microphone"></i></span>
    </div>
  </div>
  <div class="charts">
    <!-- <div class="earning-chart">
      <div>
        <canvasjs-chart [options]="chartOptions" [styles]="{width: '40%', height: '360px'}"></canvasjs-chart>
      </div> -->
      
    

    </div>

    
  </div>