.box {
  background-color: #d8d8bb;
  padding: 2%;
  padding-left: 7%;

}

.earning-chart {
  display: flex;
  margin-top: 0.5%;
  
}

.form {
  margin-left: 0.75%;
  width: 40%;
  position: relative;
}

.form .fa-search {

  position: absolute;
  top: 20px;
  left: 20px;
  color: #9ca3af;

}

.form span {

  position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;

}

.form-input {
  height: 55px;
  text-indent: 33px;
  border-radius: 10px;
}

.form-input:focus {
  border: 1px solid #d8d8bb;
  /* Border rengini ve kalınlığını ayarla */
  box-shadow: 5px 5px 10px #888888;
}

.multiChart {

  width: '80%';
  height: '360px'

}

.chart-button {
  background: #fff;
  color: #222;
  border: 1px solid #e7e7e7;
  border-bottom: 2px solid #ddd;
  border-radius: 2px;
  padding: 4px 17px;
}

.chart-button.active {
  color: #fff;
  background: #008ffb;
  border: 1px solid blue;
  border-bottom: 2px solid blue;
}

.chart-button:focus {
  outline: 0;
}

.ChartDateTime {
  width: 100%;
  padding: 2%;
  border: 2px solid #d8d8bb;
  box-shadow: 5px 5px 10px #888888;
  background-color: rgb(217, 217, 201);
  border-radius: 10px;
  h2{
    font-family: monospace;
  }
}

.chartbar {
  width: 50%;
  margin-top: 1%;
  margin-right: 1%;
  border: 2px solid #d8d8bb;
  box-shadow: 5px 5px 10px #888888;
  background-color: rgb(217, 217, 201);
  border-radius: 10px;

}

.chartCol {
  width: 60%;
  padding: 2%;
  margin-top: 1%;
  border: 2px solid #d8d8bb;
  box-shadow: 5px 5px 10px #888888;
  background-color: rgb(217, 217, 201);
  border-radius: 10px;
}

#chart {
  width: 30%;
  border: 2px solid #d8d8bb;
  box-shadow: 5px 5px 10px #888888;
  background-color: rgb(217, 217, 201);
  border-radius: 10px;
}


.anlık-durumlar {
  height: 5vw;
  margin-bottom: 1%;
  border: 2px solid #d8d8bb;
  box-shadow: 5px 5px 10px #888888;
  background-color: rgb(217, 217, 201);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

  .parcalar {
    margin: 1%;
    padding-left:0.5% ;
    height: 3vw;
    width: 15vw;
    
    box-shadow: 5px 5px 10px #888888;
    background-color: rgb(160, 160, 149);
    flex-wrap: wrap;
    border-radius: 10px;


    .enstrüman-ismi {
      font-size: smaller;
      margin: 2% 7%;
      font-family: monospace;
    }

    .enstrüman {
      display: flex;
      align-items: flex-start;
      color: #333;
      /* Yazı rengi */
    }

    .enstrüman span {
      margin-left: 5%;
      font-family: monospace;
      font-weight: bold;
    }

    .enstrüman .degisim {
      font-size: smaller;
      font-style: monospace;
      color: #0a7230;
    }

  }
}